<div class="container mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Team</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffs">
        <th scope="row">{{ staff.id }}</th>
        <td>{{ staff.first }}</td>
        <td>{{ staff.last }}</td>
        <td>{{ staff.handle }}</td>
        <div *ngFor="let team of teams">
          <td *ngIf="team.id === staff.teamId">{{ team.class }}</td>
        </div>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Primary</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Secondary</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td></td>
        <td>@twitter</td>
        <td>Secondary</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Tables /</span> Basic Tables
      <pre>{{ search | json }}</pre>
    </h4>

    <!-- Responsive Table -->
    <div class="card">
      <h5 class="card-header d-flex justify-content-between">
        Responsive Table
        <button type="button" class="btn rounded-pill btn-primary">
          Primary
        </button>
      </h5>

      <!-- search -->
      <form
        (ngSubmit)="onSubmit()"
        #searchForm="ngForm"
        class="input-group mb-3 col-4 mt-3"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Search . . . . . . ."
          id="search"
          [(ngModel)]="search"
          [value]="search"
          name="search"
          #name="ngModel"
          required
        />
        <div class="input-group-append">
          <button
            type="submit"
            class="btn rounded-pill btn-info"
            [disabled]="!searchForm.form.valid"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
      <!-- search -->

      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr class="text-nowrap">
              <th>#</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
              <th>Table heading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
              <td>Table cell</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>
  <!-- / Content -->
</div>
